#container {
	padding: 20px;
	background-color: #f5f5f5;
}

#first, #second {
	border: 1px solid #ddd;
	padding: 20px;
	background-color: white;
	margin-bottom: 30px;
}

.author {
	text-align: right;
	margin-top: 2px;
	font-weight: bold;
	font-style: italic;
}
